@font-face {
  font-family: 'Anonymous';
  src: url('./assets/fonts/Anonymous.ttf');
}

@font-face {
  font-family: 'RalewayExtraLight';
  src: url('./assets/fonts/Raleway-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('./assets/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('./assets/fonts/Raleway-Regular.ttf');
}

.font-anonymous {
  font-family: Monaco;
}

.font-raleway-extra-light {
  font-family: RalewayExtraLight;
}

.font-raleway-light {
  font-family: RalewayLight;
}

.font-raleway-regular {
  font-family: RalewayRegular;
}

html {
  font-family: RalewayLight;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
