.search-form {
  display: flex;
  align-items: center;
}

.search-form > .field {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 13px 17px 13px 17px;
  outline: none;
  border: none;
  width: 650px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c5c5c;
}

.search-form > .submit {
  background-color: #ac53f2;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

.search-form > .field > .icon {
  height: 30px;
  width: 30px;
}
